
EDT_EAH_Algorithm/obj/
EAH.DataModel/obj/
EDT_EAH/obj/

packages/
.vs/

EAH.DataModel/bin/Debug/
EAH.DataModel/bin/Release/

EDT_EAH_Algorithm/bin/Debug/
EDT_EAH_Algorithm/bin/Release/

EDT_EAH/bin/Debug/Google.OrTools.dll

EDT_EAH/bin/Debug/Google.OrTools.xml

EDT_EAH/bin/Debug/Google.Protobuf.dll

EDT_EAH/bin/Debug/Google.Protobuf.pdb

EDT_EAH/bin/Debug/Google.Protobuf.xml

EDT_EAH/bin/Debug/google-ortools-native.dll

EDT_EAH/bin/Debug/Meilleur_planning_eleves.xlsx

EDT_EAH/bin/Debug/Meilleur_planning_profs.xlsx

EDT_EAH/bin/Debug/System.Buffers.dll

EDT_EAH/bin/Debug/System.Buffers.xml

EDT_EAH/bin/Debug/System.Memory.dll

EDT_EAH/bin/Debug/System.Memory.xml

EDT_EAH/bin/Debug/System.Numerics.Vectors.dll

EDT_EAH/bin/Debug/System.Numerics.Vectors.xml

EDT_EAH/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll

EDT_EAH/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml

EDT_EAH/bin/Debug/EAH.DataModel.dll

EDT_EAH/bin/Debug/EAH.DataModel.pdb

EDT_EAH/bin/Debug/EDT_EAH_Algorithm.dll

EDT_EAH/bin/Debug/EDT_EAH_Algorithm.dll.config

EDT_EAH/bin/Debug/EDT_EAH_Algorithm.pdb

EDT_EAH/bin/Debug/EDT_EAH.exe

EDT_EAH/bin/Debug/EDT_EAH.exe.config

EDT_EAH/bin/Debug/EDT_EAH.pdb

EDT_EAH/bin/Debug/EPPlus.dll

EDT_EAH/bin/Debug/EPPlus.xml

EDT_EAH/bin/Release/EAH.DataModel.dll

EDT_EAH/bin/Release/EAH.DataModel.pdb

EDT_EAH/bin/Release/EDT_EAH_Algorithm.dll

EDT_EAH/bin/Release/EDT_EAH_Algorithm.dll.config

EDT_EAH/bin/Release/EDT_EAH_Algorithm.pdb

EDT_EAH/bin/Release/EDT_EAH.exe

EDT_EAH/bin/Release/EDT_EAH.exe.config

EDT_EAH/bin/Release/EDT_EAH.pdb

EDT_EAH/bin/Release/EPPlus.dll

EDT_EAH/bin/Release/EPPlus.xml

EDT_EAH/bin/Release/google-ortools-native.dll

EDT_EAH/bin/Release/Google.OrTools.dll

EDT_EAH/bin/Release/Google.OrTools.xml

EDT_EAH/bin/Release/Google.Protobuf.dll

EDT_EAH/bin/Release/Google.Protobuf.pdb

EDT_EAH/bin/Release/Google.Protobuf.xml

EDT_EAH/bin/Release/System.Buffers.dll

EDT_EAH/bin/Release/System.Buffers.xml

EDT_EAH/bin/Release/System.Memory.dll

EDT_EAH/bin/Release/System.Memory.xml

EDT_EAH/bin/Release/System.Numerics.Vectors.dll

EDT_EAH/bin/Release/System.Numerics.Vectors.xml

EDT_EAH/bin/Release/System.Runtime.CompilerServices.Unsafe.dll

EDT_EAH/bin/Release/System.Runtime.CompilerServices.Unsafe.xml
